<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Universal Scheduler</title>
    <!-- function to add the clock to the page and refresh page every 5s-->
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                "current time:" + h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);

        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }; // add zero in front of numbers < 10
            return i;
        }

        function timedRefresh(timeoutPeriod) {
	        setTimeout("location.reload(true);",timeoutPeriod);
        }

        window.onload = timedRefresh(5000);

    </script>
</head>

<body onload="startTime()">
    <h2 id="clock"></h2>
    <nav>
        <ul>
            <% if (user.user_details) { %>
            <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <h1>Welcome to your profile, <%= user.user_details.username %></h1>
    <form action="/addmeeting" method="POST">
        <input type="email" name="user2" placeholder="Enter the e-mail id">
        <input type="submit" name="submit">
    </form>
    <!-- display the active requests -->
    <div>
        <div>
            <table>
                <h2>Active Requests</h2>
                <thead>
                    <tr>
                        <th>Unique Meeting Id</th>
                        <th>User1</th>
                        <th>User2</th>
                        <th>Start Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<user.meeting_count;i++) { %>
                    <% if(user.meeting_details[i].status == "pending" || user.meeting_details[i].status == "accepted") { %>
                    <tr>
                        <td>
                            <p>
                                <%= user.meeting_details[i]._id %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user1 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user2 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].startTime %>
                            </p>
                        </td>
                        <% if(user.meeting_details[i].status == "pending") { %>
                        <!-- accept and reject buttons -->
                        <% if(user.meeting_details[i].user2 == user.user_details.emailId) { %>
                        <td>
                            <form action="/updatemeeting" method="POST">
                                <button type="submit" name="statusbutton"
                                    value='{"id": "<%= user.meeting_details[i]._id %>" , "val": 1}'>Accept</button>
                                <button type="submit" name="statusbutton"
                                    value='{"id": "<%= user.meeting_details[i]._id %>" , "val": 0}'>Reject</button>
                            </form>
                        </td>
                        <% } else if(user.meeting_details[i].user1 == user.user_details.emailId) { %>
                        <td>
                            <p>
                                <%= user.meeting_details[i].status %>
                            </p>
                        </td>
                        <% } %>
                        <%} else { %>
                        <!-- stop meeting button -->
                        <td>
                            <form action="/updatemeeting" method="POST">
                                <button type="submit" name="statusbutton"
                                    value='{"id": "<%= user.meeting_details[i]._id %>" , "val": 2}'>Stop
                                    Meeting</button>
                            </form>
                        </td>
                        <% } %>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- display the past meetings -->
    <div>
        <div>
            <table>
                <h2>Past Meetings</h2>
                <thead>
                    <tr>
                        <th>Unique Meeting Id</th>
                        <th>User1</th>
                        <th>User2</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<user.meeting_count;i++) { %>
                    <% if(user.meeting_details[i].status != "pending") { %>
                    <tr>
                        <td>
                            <p>
                                <%= user.meeting_details[i]._id %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user1 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user2 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].startTime %>
                            </p>
                        </td>
                        <% if(user.meeting_details[i].status != "accepted") { %>
                        <td>
                            <p>
                                <%= user.meeting_details[i].endTime %>
                            </p>
                        </td>
                        <% } else { %>
                        <td>
                            <p>
                                -
                            </p>
                        </td>
                        <% } %>
                        <td>
                            <p>
                                <%= user.meeting_details[i].status %>
                            </p>
                        </td>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>