<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Universal Scheduler</title>
</head>

<body>
    <nav>
        <ul>
            <% if (user.user_details) { %>
            <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <h1>Welcome to your profile, <%= user.user_details.username %></h1>
    <form action="/addmeeting" method="POST">
        <input type="email" name="user2" placeholder="Enter the e-mail id">
        <input type="submit" name="submit">
    </form>
    <div>
        <div>
            <table><h2>Active Requests</h2>
                <thead>
                    <tr>
                        <th>Unique Meeting Id</th>
                        <th>User1</th>
                        <th>User2</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<user.meeting_count;i++) { %>
                    <% if(user.meeting_details[i].status == "pending") { %>
                    <tr>
                        <td>
                            <p>
                                <%= user.meeting_details[i]._id %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user1 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user2 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].time %>
                            </p>
                        </td>
                        <% if(user.meeting_details[i].user2 == user.user_details.emailId) { %>
                        <td>
                            <form action="/updatemeeting" method="POST">
                                <button type="submit" name="statusbutton" value='{"id": "<%= user.meeting_details[i]._id %>" , "val": 1}'>Accept</button>
                                <button type="submit" name="statusbutton" value='{"id": "<%= user.meeting_details[i]._id %>" , "val": 0}'>Reject</button>
                            </form>
                        </td>
                        <% } else if(user.meeting_details[i].user1 == user.user_details.emailId) { %>
                        <td>
                            <p>
                                <%= user.meeting_details[i].status %>
                            </p>
                        </td>
                        <% } %>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div>
            <table><h2>Past Meetings</h2>
                <thead>
                    <tr>
                        <th>Unique Meeting Id</th>
                        <th>User1</th>
                        <th>User2</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<user.meeting_count;i++) { %>
                    <% if(user.meeting_details[i].status != "pending") { %>
                    <tr>
                        <td>
                            <p>
                                <%= user.meeting_details[i]._id %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user1 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].user2 %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].time %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= user.meeting_details[i].status %>
                            </p>
                        </td>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>